<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IServiceAereo" />
        <binding name="BasicHttpBinding_IServiceCorreio" />
        <binding name="BasicHttpBinding_IServiceHotel" />
        <binding name="BasicHttpBinding_IServiceTerrestre" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:40759/ServiceAereo.svc" 
                binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IServiceAereo" 
                contract="ServiceComponentAereo.IServiceAereo"
                name="BasicHttpBinding_IServiceAereo" />
      <endpoint address="http://localhost:37719/ServiceCorreio.svc"
                binding="basicHttpBinding" 
                bindingConfiguration="BasicHttpBinding_IServiceCorreio"
                contract="ServiceComponentCorreio.IServiceCorreio" 
                name="BasicHttpBinding_IServiceCorreio" />
      <endpoint address="http://localhost:39122/ServiceHotel.svc" 
                binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IServiceHotel" 
                contract="ServiceComponentHotel.IServiceHotel"
                name="BasicHttpBinding_IServiceHotel" />
      <endpoint address="http://localhost:40776/ServiceTerrestre.svc"
                binding="basicHttpBinding" 
                bindingConfiguration="BasicHttpBinding_IServiceTerrestre"
                contract="ServiceComponentTerrestre.IServiceTerrestre" 
                name="BasicHttpBinding_IServiceTerrestre" />
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
